.areaBanner {
  position: relative;
  background: linear-gradient(0deg, #000 10%, #00000000);
  transition: all .4s;

  .banner {
    height: 750px;
    object-fit: cover;
    object-position: right;
    z-index: -1;
    position: relative;

    @include media(lg){
      height: 450px;
    }
  }

  .flex {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 45px;

    img {
      padding: 0 20px;

      @include media(lg) {
        max-width: 470px;
      }
    }

    button {
      font-family: Supra-Mediummezzo, serif;
      background: transparent;
      border: none;
      color: $primary-lingh-color;
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      justify-content: center;
      gap: 10px;
      border: 2px solid $primary-lingh-color;
      padding: 5px 15px;
      border-radius: 10px;
      text-transform: uppercase;
      transition: all 400ms ease-in;
      cursor: pointer;

      &:hover {
        color: $primary-color;
        background: $primary-lingh-color;
      }
    }

    h1 {
      padding: 0 20px;
      margin-bottom: 20px;
      font-family: Supra-Mediummezzo, serif;
      color: $primary-lingh-color;
      font-size: 2.1rem;
      text-align: center;
    }
  }
}

.infoFilme {
  background-color: $primary-dark-color;
  color: $primary-lingh-color;

  .gridCartaz {
    padding: 90px 0 45px;
    display: grid;
    gap: 45px;
    align-items: center;

    @include media(lg) {
      grid-template-columns: 1fr 2.2fr;
    }
  }

  .textSinopse {
    margin-bottom: 3.5rem;

    h2 {
      font-family: 'Supra-XLightMezzo', serif;
      font-size: 2.2rem;
      color: $secondary-colors;
      margin-bottom: 10px;
    }

    p {
      font-family: 'Supra-XLightExtended', serif;
      font-size: 1.8rem;
    }
  }

  .gridInfo {
    display: grid;
    gap: 31px;
    padding-bottom: 55px;

    @include media(lg) {
      grid-template-columns: 1fr 1fr 0.5fr 1fr;
      padding-bottom: 90px;
    }

    .textInfo {
      h2 {
        font-family: 'Supra-XLightMezzo', serif;
        font-size: 2.2rem;
        color: $secondary-colors;
        margin-bottom: 10px;
      }

      p {
        font-family: 'Supra-XLightExtended', serif;
        font-size: 1.6rem;
      }
    }
  }
}