@font-face {
  font-family:"Supra-Mediummezzo" ;
  src: url('/fonts/supra-mediummezzo.ttf');
}

@font-face {
  font-family:"Supra-Thin" ;
  src: url('/fonts/Supra-Thin.otf');
}
@font-face {
  font-family:"Supra-ThinCompressed" ;
  src: url('/fonts/Supra-ThinCompressed.otf');
}
@font-face {
  font-family:"Supra-XLightCondensed" ;
  src: url('/fonts/Supra-XLightCondensed.otf');
}
@font-face {
  font-family:"Supra-XLightExtended" ;
  src: url('/fonts/Supra-XLightExtended.otf');
}
@font-face {
  font-family:"Supra-XLightMezzo" ;
  src: url('/fonts/Supra-XLightMezzo.otf');
}